.info {
    padding: 50px 0 30px;
}

.info__title {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 30px;
}

.info__text {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 34px;
}